<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Users</title>
</head>
<body>
<div>
    <h2>All users info!</h2>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Owner</th>
            <th>RoleId</th>
            <th>Edit user</th>
            <th>Delete user</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getFirstName()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td><ul th:each="role : ${user.getRoles()}">
                <li th:text="${role.getName()}" class="list-item"></li>
            </ul></td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"> </form></td>
        </tr>
    </table>
</div>
<br>
<input type="button" value="Add user" onclick="window.location.href='users/new'">
</body>
</html>